
# LangChain
langchain==0.3.17

# Other
dotenv==0.9.* # For the environment variables
dropbox==12.0.2 # For the Dropbox API to get the EmoTensorContextualizedFile
lxml==5.3.1 # For the XML parser
base32-crockford==0.3.0 # For the base32 encoder/decoder

# Custom
git+https://github.com/Lexa-B/AyakaUtils.git@v0.0.4 # For the custom functions